{{#if_eq user.favorites 0}}
<h2 style="padding-left:5%;padding-top:2%;font-family:'Raleway';">You'll need to add some favorites before you see anything here</h2>
{{else}}
{{#each arts}}
<div class="sculpture-div">
<div class="sculpture-info">
<h5> <a href="/sculpture/{{_id}}"> Artist: {{artist}}
<br>Title: {{title}}
<br>Year: {{year}}
<br>Address:</h5><h6> {{geoAddress}} </h6></a>

<div class="info-spacer">
</div>
</div>
<div class="sculpture-img">
  <a href="/sculpture/{{_id}}"><img src={{imgPath}} /></a>
</div>
</div>
{{/each}}
{{/if_eq}}