<!DOCTYPE html>
<html lang="en">

<div class="index-container">
  <span id="tagline">
  <h5>Find Public Art Near You</h5>
  </span>
  <div class="index-spacer"></div>
  <div class ="content-box">
  <div id='map' class="map">
  </div>

    <div class="listings-container">
    <div class="listings">
    {{#each arts}}
    <div class="artist-div">
    <div class="art-info">
    <a href="/sculpture/{{_id}}"><h5>Artist: {{this.artist}}
    <br>Title: {{this.title}}
    <br>Year: {{this.year}}
    </h5>
    </div>
    <div class="art-info-img">
      <img src={{this.imgPath}} /></a>
    </div>
    </div>
    {{/each}}
    <div id="list-arrows">
    <a href="/?page={{prevPage}}"><img src='/images/back.png' width="20px" height="20px"></a>
    <a href="/?page={{nextPage}}"><img src='/images/fwd.png' width="20px" height="20px"></a>
    </div>
    </div>
    </div>
  </div>
  </div>
</div>
<div class="add-art">
  <h3><a href="/auth/add/">Add An Artwork</a></h3>
</div>


<script>
let arrCoordinates = [{{arts.0.location.coordinates}}]
mapboxgl.accessToken = 'pk.eyJ1IjoicHJlc2VudG1vbWVudCIsImEiOiJjanhpdGlhczkwNWdpM3dwbHRtMGVrdWYwIn0.xzwCmqIxkr_AfZ3YNBwy9g';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/presentmoment/cjxxhp4cy02tg1drpjgb31u5c',
zoom: 7,
center: arrCoordinates
});

var mapNav = new mapboxgl.NavigationControl();
map.addControl(mapNav, 'bottom-right')
.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
    },
    trackUserLocation: true
}))

axios.get('https://materialism.herokuapp.com/api/material').then(response => {
  const artwork = response.data;
  artwork.forEach(artwork => {
    const coordinates = artwork.location.coordinates;
    if (isNaN(coordinates[0])) {
      return;
    }

    let popup = new mapboxgl.Popup({ offset: 0, className: 'my-class' })
        .setHTML(`<div class="popup"><img height="50px" src="${artwork.imgPath}" alt=""><p>${artwork.title} by ${artwork.artist}</p></div>`)
        .setMaxWidth("none")


    var el = document.createElement('div');
    el.className = 'marker-jr';


    let marker = new mapboxgl.Marker(el).setLngLat(coordinates).setPopup(popup).addTo(map);

    })
  })

.catch(err => {
    console.log(err)
})
</script>
</html>