
    <div class="sculpture-div">
    <div class="sculpture-info">
    <h5> <a href="/search?term={{arts.artist}}"> Artist: {{arts.artist}}</a>
    <br>Title: {{arts.title}}
    <br>Year: {{arts.year}}
    <br>Posted By: {{arts.postedBy}}
    </div>
    <div class="sculpture-img">
      <img src={{arts.imgPath}} />
    </div>
    </div>
<div style="width: 96vw; padding-left: 1em;" id='map' class="item-map"></div>
<script>

let arrCoordinates = ({{arts.location.coordinates}});
let pinDrop = arrCoordinates.reverse();

mapboxgl.accessToken = 'pk.eyJ1IjoicHJlc2VudG1vbWVudCIsImEiOiJjanhpdGlhczkwNWdpM3dwbHRtMGVrdWYwIn0.xzwCmqIxkr_AfZ3YNBwy9g';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/presentmoment/cjxwq65aa0nef1cpdnax0omoz',
zoom: 6,
fitBounds: (pinDrop)
});
var mapNav = new mapboxgl.NavigationControl();
map.addControl(mapNav, 'bottom-right')
.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
    },
    trackUserLocation: true
}))

console.log({{arts.location.coordinates}});

axios.get('http://localhost:3000/api/material').then(response => {
  console.log(response.data)
  const artwork = response.data;
  artwork.forEach(artwork => {
    const coordinates = artwork.location.coordinates;

    let popup = new mapboxgl.Popup({ offset: 0, className: 'my-class' })
        .setHTML(`<div class="popup"><img height="50px" src="${artwork.imgPath}" alt=""><p>${artwork.title} by ${artwork.artist}</p></div>`)
        .setMaxWidth("none")

    let marker = new mapboxgl.Marker().setLngLat(coordinates).setPopup(popup).addTo(map);

    })
  })

.catch(err => {
    console.log(err)
})
</script>