
    <div class="sculpture-div">
    <div class="sculpture-info">
    <h5> <a href="/search?term={{arts.artist}}"> Artist: {{arts.artist}}</a>
    <br>Title: {{arts.title}}
    <br>Year: {{arts.year}}
    <br>Address:</h5><h6> {{arts.geoAddress}} </h6>
      {{#if arts.needsRepair}}
      <h6>In Need of Repair</h6>
      {{/if}}
    <div class="info-spacer">
    </div>
    <form action="/auth/favorites/{{arts._id}}" method="POST" id="fav-form">
    <button class="favorite-button">
    Add to Favorites
    </button>
    </form>
    {{!-- <p>Submitted By: {{arts.postedBy.username}}</p> --}}
    </div>
    <div class="sculpture-img">
      <img src={{arts.imgPath}} />
    </div>
    </div>
<div style="width: 98vw; height: 58vh;" id='map' class='info-map'></div>
<script>

let arrCoordinates = [{{arts.location.coordinates}}]

mapboxgl.accessToken = 'pk.eyJ1IjoicHJlc2VudG1vbWVudCIsImEiOiJjanhpdGlhczkwNWdpM3dwbHRtMGVrdWYwIn0.xzwCmqIxkr_AfZ3YNBwy9g';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/presentmoment/cjxxhp4cy02tg1drpjgb31u5c',
zoom: 15,
center: arrCoordinates
});
var mapNav = new mapboxgl.NavigationControl();
map.addControl(mapNav, 'bottom-right')
.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
    },
    trackUserLocation: true
}))


axios.get('https://materialism.herokuapp.com/api/material').then(response => {
  const artwork = response.data;
  artwork.forEach(artwork => {
    const coordinates = artwork.location.coordinates;
    if (isNaN(coordinates[0])) {
      return;
    }

    let popup = new mapboxgl.Popup({ offset: 0, className: 'my-class' })
        .setHTML(`<a href="/sculpture/$`{{_id}}`"><div class="popup" style="outline: 1px solid #758395; outline-offset: 2px"><img height="50px" src="${artwork.imgPath}" alt=""><p>${artwork.title} by ${artwork.artist}</a></p></div>`)
        .setMaxWidth("none")

    var el = document.createElement('div');
    el.className = 'marker-jr';

    let marker = new mapboxgl.Marker(el).setLngLat(coordinates).setPopup(popup).addTo(map);

    })
  })

.catch(err => {
    console.log(err)
})
</script>